.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: white; /* tekstin väri */
    display: flex;
    justify-content: center; /* Kaikki keskelle */
    align-items: center;
}